#landing_page{
    background-image: url(../data/landingBG.webp);
    background-position-x: center; 
    background-position-y:bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 100vh; 

}