body{
  min-height: 100vh;
  background-color: black;
}

.search_box {
width: 60vw;
}

.search_box input {
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
.search_box button {
width: 60px;
opacity: 0.5;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}

.mic {
background-color: hsl(0, 0%, 18.82%);
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
width: 35px;
height: 30px;
cursor: pointer;
}

.side_bar {
background: #000;
width: 200px;
}

#accordionSidebar {
position: absolute;
top: 70px;
bottom: 0;
left: 0;
width: inherit;
overflow-y: scroll;
}

#accordionSidebar li,
ul {
padding-left: 20px;
padding-top: 5px;
padding-bottom: 5px;
}

ul li {
cursor: pointer;
padding-top: 5px;
padding-bottom: 5px;
}
#less i,
#show_less_subscription i {
transform: rotate(180deg);
}

.subscription {
height: 40vh;
overflow-y: hidden;
}

.rounded-pill {
background-color: dimgrey;
}

@media only screen and (max-width: 768px) {
.side_bar {
  position: absolute;
  left: -250px;
}
.sidebar {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
}

@media only screen and (max-width: 500px) {
.search_box {
  width: 45vw;
  background-color: black;
}
}

@media only screen and (max-width: 390px) {
.search_box {
  width: 10px;
  background-color: black;
}
}
.modal.show {
display: block;
}

.responsive-iframe {
width: 100%;
height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
-ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */
}
ul::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
ul {
-ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */
}
