<!DOCTYPE html>
<html>
  <head>
    <title>reset password!</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      background-image:url(/resetpassword.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      justify-content: center;
      align-items: center;
      width: 95vw;
      height: 90vh;
    "
  >
    <form method="post" action="/reset-password/<%= id %>/<%= token %>" name="form">
      <fieldset>
        <legend>Change Password</legend>

        <input type="password" placeholder="Password" id="password" name="password" value="" required />
        <input
          type="password"
          placeholder="Confirm Password"
          id="confirmpassword"
          name="confirmpassword"
          value=""
          required
        />

        <button type="submit" >
          Confirm
        </button>
      </fieldset>
    </form>
  </body>
  <script>
    var password = document.getElementById("password"),
      confirm_password = document.getElementById("confirmpassword");

    function validatePassword() {
      console.log(password.value);
      if (password.value.length < 8) {
        confirm_password.setCustomValidity("Passwords length should atleast 8");}

       else if (password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      
      } else {
        confirm_password.setCustomValidity("");
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>
</html>
