<!DOCTYPE html>
<html>
<head>
  <title>email verified!</title>

</head>
<body style="display:flex;flex-direction: column; justify-content: center; align-items: center; width: 95vw;">
  <h1>email verified!</h1>
  <img src="/verified.png" style="width: 85vw; height: auto;"  alt="...">
</body>
</html>