   
       .cal-c {
        background: linear-gradient(to right, #ec6f66  , #f3a183);
        
         
           }
    
           input {
          
            height: 80px;
           background: linear-gradient(to right, #d2d086 , #daff5f );
        
           }