#landing_page{
    background-image: url(https://images.pexels.com/photos/1166643/pexels-photo-1166643.jpeg?auto=compress&cs=tinysrgb&w=1400);
    background-position-x: center; 
    background-position-y:top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 100vh; 

}
#register_page{
    height: 100vh;
}
#register_page img{
    height: 100vh;
}
#login_page{
    height: 100vh;
}
#login_page img{
    height: 100vh;
}